{% extends 'index.html' %}

{% block contentarea %}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="row-content am-cf">
                <div class="widget am-cf">
                    <div class="widget-body">
                        <div class="tpl-page-state">
                            <div class="tpl-page-state-title am-text-center tpl-error-title">403</div>
                            <div class="tpl-error-title-info">Forbidden</div>
                            <div class="tpl-page-state-content tpl-error-content">

                                <p>对不起,您没有权限操作,请联系管理员。</p>
                                <button type="button" class="am-btn am-btn-secondary am-radius tpl-error-btn" onclick="BackUp()">
                                    Back Home
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        function BackUp() {
            history.go(-1)
        }
    </script>
{% endblock %}