{% extends 'index.html' %}

{% block contentarea %}
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">网络准入</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" onclick="addNa()">
                                                    <span class="am-icon-plus"></span>
                                                    新增
                                                </button>
{#                                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>#}
{#                                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>#}
{#                                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select data-am-selected="{btnSize: 'sm'}">
                                          <option value="option1">所有类别</option>
                                          <option value="option2">IT业界</option>
                                          <option value="option3">数码产品</option>
                                          <option value="option3">笔记本电脑</option>
                                          <option value="option3">平板电脑</option>
                                          <option value="option3">只能手机</option>
                                          <option value="option3">超极本</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
          </span>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                        <thead>
                                            <tr>
                                                <th>HostId</th>
                                                <th>IP</th>
                                                <th>MAC</th>
                                                <th>DHCP服务器</th>
                                                <th>DHCP主机</th>
                                                <th>NBT域名</th>
                                                <th>姓名</th>
                                                <th>域账号</th>
                                                <th>Email</th>
                                                <th>标题</th>
                                                <th>部门</th>
                                                <th>电话</th>
                                                <th>链接</th>
                                                <th>标签</th>
                                                <th>更新时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in data %}
                                            <tr class="gradeX">
                                                <td>{{ item.hostid }}</td>
                                                <td>{{ item.ip }}</td>
                                                <td>{{ item.mac }}</td>
                                                <td>{{ item.dhcp_server }}</td>
                                                <td>{{ item.dhcp_hostname }}</td>
                                                <td>{{ item.nbtdomain }}</td>
                                                <td>{{ item.ad_displayname }}</td>
                                                <td>{{ item.ad_name }}</td>
                                                <td>{{ item.ad_mail }}</td>
                                                <td>{{ item.ad_title }}</td>
                                                <td>{{ item.ad_department }}</td>
                                                <td>{{ item.ad_mobile }}</td>
                                                <td>{{ item.href }}</td>
                                                <td>{{ item.etag }}</td>
                                                <td>{{ item.update_time }}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-edit"></i> 编辑
                                                        </a>
                                                        <a class="tpl-table-black-operation-del" onclick="deleteById({{ item.id }})">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            {% if data.has_previous %}
                                                <li><a href="/list?page={{ data.previous_page_number }}">«</a></li>
                                            {% else %}
                                                <li><a href="#">«</a></li>
                                            {% endif %}
                                            {% for p in page_range %}
                                                {% if p == data.number %}
                                                    <li class="am-active">
                                                        <a href="/list?page={{ p }}">{{ p }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="/list?page={{ p }}">{{ p }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if data.has_next %}
                                                <li><a href="/list?page={{ data.next_page_number }}">»</a></li>
                                            {% else %}
                                                <li><a href="#">»</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        function deleteById(id) {
            $.ajax({
                url: '/delete',
                method: 'post',
                data: {'id': id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function (data) {
                    if (data.code === 0 && data.msg == 'success'){
                        window.location.reload()
                    }
                }
            });
        };
        function addNa() {
            window.location.href = '/add'
        }
    </script>
{% endblock %}