{% extends 'index.html' %}

{% block contentarea %}
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">用户管理</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success">
                                                    <span class="am-icon-plus"></span>
                                                    新增
                                                </button>
{#                                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>#}
{#                                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>#}
{#                                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
{#                                        <select id="type" data-am-selected="{btnSize: 'sm'}">#}
{#                                          <option>所有类别</option>#}
{#                                          <option value="name">姓名</option>#}
{#                                          <option value="hid">主机id</option>#}
{#                                          <option value="email">邮箱</option>#}
{#                                          <option value="ip">ip地址</option>#}
{#                                        </select>#}
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field" id="query" placeholder="请输入用户名或账号">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                    type="button">
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black" id="example-r">
                                        <thead>
                                            <tr>
                                                <th>用户名</th>
                                                <th>账号</th>
                                                <th>权限</th>
                                                <th>创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in data %}
                                            <tr class="gradeX">
                                                <td>{{ item.nickname }}</td>
                                                <td>{{ item.username }}</td>
                                                {% for p in perm %}
                                                    {% if item.perm_id == p.id %}
                                                        <td>{{ p.describe }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <td>{{ item.create_time }}</td>
                                                <td>
                                                    <div class="tpl-table-black-operation">
                                                        <a href="javascript:;">
                                                            <i class="am-icon-edit"></i> 编辑
                                                        </a>
                                                        <a class="tpl-table-black-operation-del" onclick="deleteById({{ item.id }})">
                                                            <i class="am-icon-trash"></i> 删除
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            {% if data.has_previous %}
                                                <li><a href="/userList?page={{ data.previous_page_number }}">«</a></li>
                                            {% else %}
                                                <li><a href="#">«</a></li>
                                            {% endif %}
                                            {% for p in page_range %}
                                                {% if p == data.number %}
                                                    <li class="am-active">
                                                        <a href="/userList?page={{ p }}">{{ p }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="/userList?page={{ p }}">{{ p }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if data.has_next %}
                                                <li><a href="/userList?page={{ data.next_page_number }}">»</a></li>
                                            {% else %}
                                                <li><a href="#">»</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">
        function deleteById(id) {
            $.ajax({
                url: '/userDelete',
                method: 'post',
                data: {'id': id, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function (data) {
                    if (data.code === 0 && data.msg == 'success'){
                        window.location.reload()
                    }
                }
            });
        };
    </script>
{% endblock %}